nav{
   
    


  /*  */
}
.customer-support{
position: fixed;

}
body{
  background-color: rgba(213, 204, 184, 0.419);
}



UL{
 background-color: rgba(207, 185, 157, 0.784);
 list-style: NONE;
 display: flex;

}

li{
padding: 10px;
font-family: 'Courier New', Courier, monospace;
font-size: larger;


}

a{
  text-decoration: none;
    
}
h2{
  padding: 25px;
  text-align: center;
  background-color: rgba(201, 171, 140, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

  
}


.BIGcontainer{
 display: flex;
 flex-direction: row;
  border-radius: 100px;
  padding: 0px;
  margin: 100px;
  background-image: url('/image/sTART.png');
  background-repeat: no-repeat;

  color: aliceblue;

  
  


 
}

.makeitrange{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
margin-left: 500px;

background-color: rgb(240, 223, 198);


  
}





a{
   text-decoration: none;
  
     
}



.DiscoverSaudiArabia{
 
  margin-top: 11cm;
  
 
  font-weight: 800;
  font-style: oblique;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.region1{
 
  background-image: url('/image/جدة.jpg');
   background-repeat: no-repeat;
   border-radius: 100px 0px 0px 0px;
   text-align: center;
   padding-top:530px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: x-large;
  
   
   
  
  
}
.region2{
  
  background-image: url('/image/الرياض.jpg');
  background-repeat: no-repeat;
  text-align: center;
  padding-top:530px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: x-large;



  
   

}

.region3{
  background-image: url('/image/الجبيل.jpg');
  background-repeat: no-repeat;
  border-radius: 0px 100px 0px 0px;
  text-align: center;
  padding-top:530px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  

}


.jeddah{

  display: flex;
  background-repeat: no-repeat;
  flex-direction: row;
  text-align: center;
 




 
 }

 .Image_KSA{

  background-image: URL('logo.png');
  background-repeat: no-repeat;
    margin-left: 4cm;

  
 
 }

 

 .see_more{
  background-color: rgba(83, 51, 19, 0.658);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 100px 10px 100px;









 }



 

 .button{

  background-color: rgb(21, 11, 51);
  
  color: #f2f2f2;

  border-radius: 10px;

  padding: 10px;

  

 }

 
 
 

 

 .home{
  background-color: rgba(0, 0, 0, 0.599);
  border-radius: 5px;
  
 }
 


.all{
    display: flex;
    padding: 10px;
    margin: 10px;
    

}




.design_city{
    display: flex;
    text-align: center;
    border-radius: 100px 0px 0px 100px ;
    padding: 60PX;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  }

 .header1{
    text-align: center;
    background-color: rgba(111, 113, 68, 0.416);
    color: #f2f2f2;
    border-radius: 100px 0px 0px 100px ;
    padding: 60PX;
    
   
 }

 .intro{

    display: flex;
  
    text-align: center;
    


 }

 /* CSS للقائمة */
ul.ul {
  
  list-style-type: none;
  

}

li.li {
  display: inline-block;
  margin-right: 10px;
  
  border-right: 1px solid #333;
  padding-right: 10px; /* تضيف هذا السطر لتفصيلة بين النص والخط */
}

li.li:last-child {
  border-right: none; /* تزيل الخط من العنصر الأخير في القائمة */
}

.big_div{
 
  display: flex;
  flex-direction: row;
  width: 100cm;

  

}
.content{
  background-color: #8e8e5d96;
  display: flex;
  margin-left: 7cm;
  border-radius: 2cm 0cm 0cm 2cm;


  

  
}
.mailandtele{
  width: 300px;
  padding: 10px;
  flex-direction: column;
 


  

}

.tuor_guide{
  background-color: #6c6c4d96;
  padding: 1cm;
  border-radius: 0cm 2cm 2cm 0cm;
  
  
}




 /*

 h1{
  display: flex; 
 }


 .end h1{
   
   background-color: rgba(186, 197, 153, 0.696);
   padding: 14px;
   margin-left:700px;
   margin-right:615px ;
   border-radius:10px ;
 }

 footer {
  
 
  display: flex; 
  flex-direction: row;
 
  

   
   
 }



 .footer1box{

    background-color: rgba(199, 200, 128, 0.242);
    border: black dashed;
    margin-left: 150px;
    padding: 1ch;
    font-size: x-large;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

   
    
   
    
     


 }

 
 */




